@font-face {
    font-family: "Amiri";
    src: url([[font:theme|Amiri-Bold-Italic.ttf]]) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Volkhov";
    src: url([[font:theme|Volkhov-Bold-Italic.ttf]]) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Piazzolla Thin";
    src: url([[font:theme|PiazzollaThinItalic-ThinItalic.ttf]]) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Piazzolla";
    src: url([[font:theme|Piazzolla-ThinItalic.ttf]]) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Piazzolla";
    src: url([[font:theme|Piazzolla-Thin.ttf]]) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url([[font:theme|Raleway-VariableFont_wght.ttf]]) format("truetype-variations");
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url([[font:theme|Oswald-VariableFont_wght.ttf]]) format("truetype-variations");
    font-display: swap;
}

:root {
    --border-radius: 0.5rem;
    --bubble-top-right: var(--border-radius) 0px var(--border-radius) var(--border-radius);
    --bubble-top-left: 0px var(--border-radius) var(--border-radius) var(--border-radius);
    --bubble-bottom-right: var(--border-radius) var(--border-radius) 0px var(--border-radius);
    --bubble-bottom-left: var(--border-radius) var(--border-radius) var(--border-radius) 0px;
}

#page {
    margin-top: 0px !important;
    overflow: visible !important;
    height: auto !important;
}

[id^="page-admin"] #region-main {
    width: 75%;
}

#region-main {
    background-color: transparent;
}

div[role="main"] {
    background-color: transparent;
}

body.pagelayout-login {
    background: $bg-color;
}

body.pagelayout-frontpage {
    background: $bg-color;
}

body.pagelayout-mydashboard {
    background: $bg-color;
}

body.pagelayout-course,
body.pagelayout-incourse {
    background: $bg-color;
}

body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
    background-image: none;
}

body {
    background: $bg-color;
}

h1 {
    margin: auto;
    font-weight: bold;
    font-size: 65px;
    color: $primarycolor;
}

a.dropdown-toggle:focus {
    border-radius: 50px;
}

.logo {
    margin-left: -0.9rem;
}

.avatar {
    display: inline-block;
    height: 3rem;
    position: relative;
    width: 3rem;
    border-radius: 999px;
    border-width: 0.15rem;
    border-style: solid;
    border-color: #fff;

    img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }
}

.avatar-sm {
    height: 2rem;
    width: 2rem;
}

.avatar-xl {
    height: 5rem;
    width: 5rem;
}

.avatar-xxl {
    height: 7.5rem;
    width: 7.5rem;
}

.avatar-xxl.avatar-indicators:before {
    bottom: 5px;
    height: 16%;
    right: 17%;
    width: 16%;
}

.avatar-online:before {
    background-color: #198754;
}

.avatar-indicators:before {
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: table;
    height: 30%;
    position: absolute;
    right: 5%;
    width: 30%;
}

.container {
    justify-content: center;
    margin: 0 auto;
}

.main-inner {
    margin: 0 !important;
    background-color: transparent !important;
    padding-top: 2rem !important;
}

.data-tooltip {
    position: relative;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    margin-left: -10px;
    color: rgba($tertiarycolor, 1);

    i {
        margin: 5px 8px;
    }
}

.data-tooltip::before,
.data-tooltip::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.2s ease;
}

.data-tooltip::before {
    content: attr(data-tooltip-content);
    width: fit-content;
    font-size: small;
    font-weight: 600;
    color: #fff;
    background-color: rgba($tertiarycolor, 1);
    padding: 3px 10px;
    border-radius: 4px;
    bottom: calc(100% + 5px);
}

.data-tooltip::after {
    content: "";
    border-top: 5px solid $tertiarycolor;
    border-right: 5px solid transparent;
    bottom: calc(100% + 1px);
}

.data-tooltip:hover::before,
.data-tooltip:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.pt-20 {
    padding-top: 8rem !important;
}

.mt-n10 {
    margin-top: -3rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.border-2 {
    --dashui-border-width: 2px;
}

.border {
    border: 1px solid #dcdcdc !important;
}

.py-6 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.bg-gray-300 {
    --dashui-bg-opacity: 1;
    background-color: #cbd5e1 !important;
}

.mb-6 {
    margin-bottom: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.mb-8 {
    margin-bottom: 2rem !important;
}

.mt-n7 {
    margin-top: -1.75rem !important;
}

.ms-4 {
    margin-left: 1rem !important;
}

.btn-outline-warning {
    color: $accentcolor;
    border: solid 1px $accentcolor !important;

    &:hover,
    &.active {
        background-color: $accentcolor !important;
        color: #fff !important;
    }
}

.wrapper {
    height: fit-content;
    margin-top: -30px;
    margin-bottom: 37px;
}

.post-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .avatar {
        position: relative;
        width: 5rem;
        height: auto;
    }
}

.custom-input {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    width: 100%;
    max-width: 100%;
    background: #ffffff;
    color: #000000;
    border: 1px solid #c4d1eb;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 0px #e2e2e2;
    transition: 0.3s ease;
    padding-right: 0.5rem;
    &.case-input .input{
        margin-left: 1.5rem;
    }

    .input {
        font-size: 18px;
        outline: none;
        width: 100%;
        transition: 0.3s ease;
        border: none;
    }
}

.input::placeholder {
    color: $digitalta-tertiary-color;
    font-style: italic;
}

.post-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    position: relative;
    background-color: $primarycolor;
    color: #fff;
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #fff;
}

.post-button:hover {
    color: #fff;
    background-color: $secondarycolor;
    border: 1px solid $secondarycolor;
}

.svg-icon {
    position: absolute;
    left: 10px;
    fill: #4660dc;
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 334px) {
    .input::placeholder {
        color: transparent;
    }
}

@media screen and (max-width: 576px) {
    .post-container {
        .custom-input {
            padding-left: 1rem;
        }

        .svg-icon.bi-vector-pen,
        .post-button div {
            display: none;
        }
    }
}

*::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
}

*::-webkit-scrollbar-track {
    border-radius: 5px !important;
    background-color: #dfe9eb !important;
}

*::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2 !important;
}

*::-webkit-scrollbar-track:active {
    background-color: #b8c0c2 !important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: $secondarycolor !important;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: $primarycolor !important;
}

*::-webkit-scrollbar-thumb:active {
    background-color: $primarycolor !important;
}


.help-video-icon:hover{
    cursor: pointer;
}
