.login-page {
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    body {
        background-color: #fff;
        font-family: Montserrat;
        overflow-x: hidden;
    }

    article,
    aside,
    details,
    figure,
    footer,
    header,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
        text-decoration: none;
    }

    img {
        border: none;
        width: 80%;
        max-width: 300px;
    }

    *:focus {
        outline: none;
    }

    svg {
        position: absolute;
        display: block;
    }

    label[for="id_username"] {
        align-self: center !important;
    }

    input[name="submitbuttonusername"] {
        max-width: 50%;
        margin: 1rem 0 !important;
        background: #1382c5 !important;
    }

    input[name="submitbuttonusername"]::after {
        background: -webkit-linear-gradient(bottom, #1382c5 0%, #1798e8 100%) !important;
    }

    label[for="id_email"] {
        align-self: center !important;
    }

    input[name="submitbuttonemail"] {
        max-width: 50%;
        margin: 1rem 0 !important;
        background: #1382c5 !important;
    }

    input[name="submitbuttonusername"]::after {
        background: -webkit-linear-gradient(bottom, #1382c5 0%, #1798e8 100%) !important;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .bg-illustration {
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
        width: 1194px;
        background-size: cover;
        float: left;
        overflow: hidden;
        -webkit-animation: bgslide 2.3s forwards;
        animation: bgslide 2.3s forwards;

        img {
            width: 248px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height: auto;
            margin: auto;
        }

        video {
            min-width: 100%;
            height: 64%;
            width: 100%;
            padding: 1rem;
        }
    }

    .login-site {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }

    .signupform .form-group{
        /* .form-control  {
            position: relative;
            height: 1.7em;
          }
          
          label {
            position: absolute;
            left: 0.5em;
            transform: translateY(116%);
          }
          
          .form-control {
            height: 100%;
            padding: 0 .2em;
          }
          
          .form-control:focus ~ label,
          .form-control:not(:placeholder-shown) ~ label{
            z-index: -1;
          }*/
    }

    .login {
        max-height: 100vh;
        height: 100vh;
        overflow-y: auto;
        float: left;
        margin: 0 auto;
        width: calc(100% - 1194px);
        font-family: "Libre Franklin", sans-serif !important;
        padding: 0 3rem;
    }

    .login .container {
        margin: 0 auto;
        position: relative;
    }

    .login .logo {
        margin-top: 75px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .login .container h3 {
        margin-top: 20px;
        font-size: 35px;
        font-weight: bolder;
    }

    #page-description {
        margin-top: 30px;
        font-size: 0.8rem;
        min-height: 15vh;
        max-height: 30vh;
    }

    .login .container .login-form {
        bottom: 0;
    }

    .login .container .login-form form {
        display: -ms-grid;
        display: grid;
        margin-top: 10vh;
    }

    .login .container .login-form form input {
        font-size: 16px;
        font-weight: normal;
        background: rgba(57, 57, 57, 0.07);
        margin: 0;
        height: auto;
        border: none;
        padding: 0 30px;
        border-radius: 10px;
        
    }

    .login .container .login-form form button[type="submit"] {
        background: $primarycolor;
        border: none;
        margin-bottom: 5px;
        height: auto;
        text-transform: uppercase;
        color: white;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        font-weight: bold;
        font-size: 0.95rem;
    }

    .login .container .login-form form button[type="submit"]:hover::after {
        opacity: 1;
    }

    .login .container .login-form form button[type="submit"]::after {
        content: "";
        position: absolute;
        z-index: -1;
        border-radius: 10px;
        opacity: 0;
        top: 0;
        left: 0;
        -webkit-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        right: 0;
        bottom: 0;
        background: -webkit-gradient(linear, left bottom, left top, from(#1382c5), to(#1798e8));
        background: -webkit-linear-gradient(bottom, #1382c5 0%, #1798e8 100%);
        background: -o-linear-gradient(bottom, #1382c5 0%, #1798e8 100%);
        background: linear-gradient(to top, #1382c5 0%, #1798e8 100%);
    }

    .password-toggle-icon {
        display: none;
        position: relative;
        top: -38%;
        right: -92%;
        cursor: pointer;
    }

    .password-toggle-icon i {
        font-size: 18px;
        line-height: 1;
        color: #333;
        transition: color 0.3s ease-in-out;
        margin-bottom: 20px;
    }

    .password-toggle-icon i:hover {
        color: #000;
    }

    .login .container .remember-form {
        position: relative;
        margin-top: -30px;
    }

    .login .container .remember-form input[type="checkbox"] {
        margin-top: 9px;
    }

    .login .container .remember-form span {
        font-size: 1rem;
        font-weight: normal;
        position: absolute;
        top: 32px;
        color: #3b3b3b;
        margin-left: 15px;
    }

    .login .container .forget-pass {
        position: absolute;
        right: 0;
        margin-top: 189px;
    }

    .login .container .forget-pass a {
        font-size: 14px;
        position: relative;
        font-weight: normal;
        color: $primary;
    }

    .login .container .forget-pass a::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 100px;
        background: -webkit-linear-gradient(110deg, #223e5c 0%, #416280 100%);
        background: -o-linear-gradient(110deg, #223e5c 0%, #416280 100%);
        background: linear-gradient(-20deg, #223e5c 0%, #416280 100%);
        bottom: -4px;
        left: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
        right: 0;
    }

    .login .container .forget-pass a:hover::after {
        opacity: 1;
    }

    .login-form-forgotpassword {
        text-align: end;
    }

    .login-signup {
        width: auto;
        height: auto;
        font-size: 14px;
    }

    #partners {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 3rem 1rem;
        h2{
            text-transform: uppercase;
            text-align: center;
            color: #7d7a7a;
        }
        h2::after {
            content: "";
            display: block;
            width: 100px;
            height: 2px;
            background: #1382c5;
            margin: 1rem auto;
        }
        img {
            width: 100%;
            max-width: 100px;
            height: auto;
        }
    }

    .extra-logo {
        position: fixed;
        max-width: 400px;
        min-width: 150px !important;
        left: 85vw;
        bottom: 10px;
        margin: 0;
        padding: 0;
    }

    .logo-sm {
        display: none;
    }

    @media only screen and (max-height: 730px) {
        .login-form form {
            margin-top: 1vh !important;
        }

        #partners {
            height: 35px;
            margin-top: 0;
            margin-bottom: 5px;
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1680px) {
        .bg-illustration {
            width: 60%;
            -webkit-animation: none;
            animation: none;
        }

        .login {
            width: 40%;
        }
    }

    @media screen and (min-height: 768px) and (max-width: 1024px) {
        .bg-illustration video {
            height: 200px !important;
            object-fit: cover;
        }

        .login .logo {
            margin-top: 5px !important;
        }
    }

    @media screen and (max-width: 500px),
    (max-height: 582px) {
        .login .logo {
            margin-top: 0;
        }

        .extra-logo {
            left: 75vw;
        }

        .logo-lg {
            display: none;
        }

        .logo-sm {
            display: block;
            max-width: 50px;
            left: 75px;
        }

        #page-description {
            margin-top: 5px;
        }
    }

    /* Display 12", iPad PRO Portrait, iPad landscape */
    @media only screen and (max-width: 1024px) {
        body {
            overflow-x: hidden;
        }

        .extra-logo {
            left: 60vw;
        }

        @-webkit-keyframes slideIn {
            from {
                left: -100%;
                opacity: 0;
            }

            to {
                left: 0;
                opacity: 1;
            }
        }

        @keyframes slideIn {
            from {
                left: -100%;
                opacity: 0;
            }

            to {
                left: 0;
                opacity: 1;
            }
        }

        .login-form {
            a {
                font-size: 11px;
            }
        }

        .form-control {
            margin: 0 !important;
        }

        #loginbtn {
            margin-bottom: 0 !important;
        }

        img {
            max-width: 200px;
        }

        .bg-illustration {
            float: none;
            background-size: cover;
            -webkit-animation: slideIn 0.8s ease-in-out forwards;
            animation: slideIn 0.8s ease-in-out forwards;
            width: 100%;
            height: auto;
            text-align: center;

            video {
                height: 100px;
            }
        }

        .bg-illustration img {
            width: 100px;
            height: auto;
            margin: 20px auto !important;
            text-align: center;
        }

        .login {
            float: none;
            margin: 0 auto;
            width: 100%;
        }

        .login .container {
            -webkit-animation: slideIn 0.8s ease-in-out forwards;
            animation: slideIn 0.8s ease-in-out forwards;
            width: 85%;
            float: none;
        }

        .login .container h1 {
            font-size: 25px;
            margin-top: 40px;
        }

        .login .container .login-form form input {
            height: 45px;
        }

        .login .container .login-form form button[type="submit"] {
            height: 45px;
            margin-top: 2rem;
        }

        .login-form-submit {
            margin-top: -50px;
        }

        .login-signup {
            font-size: 12px;
            margin-left: 5px;
        }

        .login .container .login-form .remember-form {
            position: relative;
            margin-top: -14px;
        }

        .login .container .login-form .remember-form span {
            font-size: 16px;
            margin-top: 22px;
            top: inherit;
        }

        .forget-pass {
            position: absolute;
            right: inherit;
            left: 0;
            bottom: -40px;
            margin: 0 !important;
        }

        .forget-pass a {
            font-size: 16px;
            position: relative;
            font-weight: normal;
            color: #918f8f;
        }

        .forget-pass a::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            border-radius: 100px;
            background: -webkit-linear-gradient(110deg, #223e5c 0%, #416280 100%);
            background: -o-linear-gradient(110deg, #223e5c 0%, #416280 100%);
            background: linear-gradient(-20deg, #223e5c 0%, #416280 100%);
            bottom: -4px;
            left: 0;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            opacity: 0;
            right: 0;
        }

        .forget-pass a:hover::after {
            opacity: 1;
        }

        #page-description {
            margin-top: 5px;
        }
    }

    // Delete Edge Toogle Input Password
    @supports (-ms-ime-align: auto) {}
}

.loginform {
    form {

        input[type="text"],
        input[type="password"] {
            font-size: 18px;
            padding: 5px 10px;
            width: 100%;
            padding-left: 35px;
            outline: none;
            background: #ffffff;
            color: #000000;
            border: 1px solid #c4d1eb;
            border-radius: 5px;
            box-shadow: 3px 3px 2px 0px #e2e2e2;
            transition: 0.3s ease;
        }
    }
}

.login-page {
    h1 {
        display: none;
    }

    input,
    select {
        margin: 0 !important;
        max-height: 50px;
        padding: 5px 10px !important;
        width: 100% !important;
    }

    #id_submitbutton {
        background: $primarycolor !important;
        margin-right: 0.5rem !important;
    }

    #id_cancel {
        background: $tertiarycolor !important;
    }

    .fa-exclamation-circle {
        color: $accentcolor !important;
    }

    form {
        margin-top: 0 !important;
        margin-bottom: 50px !important;
    }

    form > fieldset > legend {
        display: none !important;
    }

    form > fieldset > div.collapseable {
        display: block !important;
    }
}

#id_policyagreementcontainer{

    #id_policyagreed{
        height: 100%;
        max-height: none;
        width: auto !important;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: .25em;
    }

    label[for="id_policyagreed"]{
        margin-left: 2rem;
    }

    #fitem_id_policylink a{
        font-size: 1rem !important;
        box-shadow: none;
    }

    .form-check-input:checked {
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
        background-image: var(--bs-form-check-bg-image) !important;
      }
}