#page-local-digitalta-pages-teacheracademy-index {

    font-family: 'Raleway', sans-serif;

    h2 {
        font-weight: 400;
    }

    h3 {
        color: $digitalta-primary-color;
        font-family: "Oswald", sans-serif;
        font-size: 1.3em;
        font-weight: 300;
    }

    .themes {
        min-height: 250px;
        .theme {            
            cursor: pointer;
            font-weight: 400;
            text-shadow: 1px 1px 1px #000000;
            transition: all 0.3s ease-in-out;
            .theme-overlay {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
        .theme:hover {
            transform: scale(1.1);
            z-index: 1;
        }
    }

    .experiences {
        .experience {
            .experience-icon {
                object-fit: cover;
            }
            .experience-overlay {
                left: 3em;
                top: 1em;
                transform: translate(-43%, -49%) !important;
            }
            .experience-name {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }

    .cases {
        .case {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            padding: 16px;
            position: relative;
            border-radius: 10px;
            border: 1px solid;
            border-color: #1382c533;
            .title-container {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                position: absolute;
                top: -14px;
                left: 14px;
                background-color: $digitalta-white;
                h5 {
                    font-family: "Oswald", sans-serif;
                    font-weight: 400;
                    color: $digitalta-primary-color;
                    font-size: 18px;
                    position: relative;
                    margin-top: -1px;
                    letter-spacing: 0;
                    line-height: normal;
                }
            }
            .description-container {
                font-family: "Inter", sans-serif;
                color: $digitalta-secondary-color !important;
                color: transparent;
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
    }


    //TODO: Pasar a otras vistas (todo menos el index)
    .tutor-card-horizontal {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 16px;
        border-radius: 10px;
        margin: 10px;
        background-color: $digitalta-white;
        max-width: 500px;

        .tutor-data {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }

        .tutor-info {
            gap: 8px;
        }
        
    
        h3 {
            color: $digitalta-secondary-color;
            margin-right: 8px;
        }
    
        .text-tertiary {
            color: $digitalta-tertiary-color !important;
        }

        img {
            border-radius: 50% !important;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        .theme-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        .interests-container {
            max-width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        .button-container {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: end;
    
            a {
                padding: 8px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
            }

            a:focus-within, a:active, a:focus {
                outline: none;
                background-color: $digitalta-soft-hover-color;
            }
    
            .btn-connect {
                color: $digitalta-alt-accent-color !important;
            }
            .btn-email {
                color: $digitalta-secondary-color !important;
            }
            .btn-profile {
                color: $digitalta-tertiary-color !important;
            }
        }
    }
}
