.dta-primary-button {
    border-radius: 50px;
    color: $dta-white;
    background-color: $dta-primary-color;
    outline: none;
    padding: 2px 8px;
    border: none;

    i {
        margin-right: 8px;
    }
}

.dta-primary-button:focus, .dta-primary-button:active, .dta-primary-button:hover {
    background-color: $dta-white;
    color: $dta-primary-color;
    border: 1px solid $dta-primary-color;
    border-radius: 50px;
}

.dta-secondary-button {
    border-radius: 50px;
    color: $dta-white;
    background-color: $dta-secondary-color;
    outline: none;
    padding: 2px 8px;
    border: none;

    i {
        margin-right: 8px;
    }
}

.dta-secondary-button:focus, .dta-secondary-button:active, .dta-secondary-button:hover {
    background-color: $dta-white;
    color: $dta-secondary-color;
    border: 1px solid $dta-secondary-color;
    border-radius: 50px;
}

.searchbar-icon-button {
    background-color: $dta-secondary-color;
    color: $dta-white;
    border: none;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 0 10px 10px 0;
}

.import-modal {
    .form-check {
        background-color: transparent !important;
        border-radius: 5px !important;
        border-bottom: 1px solid $dta-secondary-color !important;
        color: $dta-secondary-color  !important;
        cursor: pointer;
        .form-check-label{
            background-color: transparent !important;
            color: #062f4a !important;
        }
    }

    .form-check:focus {
        background-color: $dta-soft-hover-color !important;
    }

    // input[type="checkbox"] {
    //     display: none;
    // }

}

.top-of-scroll {
    position: fixed;
    bottom: 50px;
    right: 65px;
    z-index: 1000;
}