#digitalta-toasts {
    z-index: 3;
    @media (max-width: 768px) {
        bottom: 20px;
        width: 100%;
    }
    @media (min-width: 768px) {
        right: 20px;
    }
    .toast-container {
        .toast {
            background-color: #f8d7da;
            color: #721c24;
            cursor: pointer;
            transition: opacity 1s linear;
            width: fit-content;
            @media (max-width: 768px) {
                margin: 0 auto;
            }
            .toast-body {
                gap: 1em;
                .toast-body-image {
                    width: fit-content;
                    img {
                        width: 5em;
                    }
                }
            }
        }
    }
}