#page-local-dta-pages-mentors-index {
    h1 {
        text-transform: capitalize !important;
        margin-bottom: 30px;
        font-weight: 400 !important;
    }

    .searchbar {
        background-color: $dta-white;
        padding: 16px;
        border-radius: 10px;

        .searchbar-input {
            background: $dta-soft-tertiary-color;

            ::placeholder {
                color: $dta-tertiary-color;
            }
        }
    }

    .filter-chip {
        border-radius: 50px;
        background-color: $dta-secondary-color;
        color: $dta-white;
        gap: 16px;
        padding: 2px 16px;
        height: fit-content;
    }


    #filter-options {
        top: 220px;
        left: auto;
        border: 1px solid $dta-secondary-color;
        border-radius: var(--bubble-top-left);

        .filter {
            margin: 1rem 0;
        }

        label {
            margin-right: 1rem;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            max-width: 300px;
            min-width: 300px;
            background-image:
                linear-gradient(45deg, transparent 50%, $dta-black 50%),
                linear-gradient(135deg, $dta-black 50%, transparent 50%);
            background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px);
            background-size:
                5px 5px,
                5px 5px;
            background-repeat: no-repeat;
            border-radius: var(--bubble-top-left);
    
            option:checked {
                background-color: $dta-soft-hover-color;
                color: $dta-black;
            }
        }
    
        select:focus {
            background-image:
                linear-gradient(45deg, $dta-black 50%, transparent 50%),
                linear-gradient(135deg, transparent 50%, $dta-black 50%);
            background-position:
                calc(100% - 15px) 1em,
                calc(100% - 20px) 1em;
            background-size:
                5px 5px,
                5px 5px;
            background-repeat: no-repeat;
            border-color: $dta-primary-color;
            outline: 0;
            box-shadow: none;
        }
    
        select::-ms-expand {
            display: none;
        }
    
        input {
            border-radius: var(--bubble-top-left);
            max-width: 300px;
            min-width: 300px;
        }
    
        input::placeholder {
            color: $dta-tertiary-color;
            font-style: italic;
        }
    
        input:focus {
            box-shadow: none;
        }
        
    }

    .mentor-card-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border-radius: 10px;
        margin: 10px;
        width: 250px;
        gap: 8px;
        text-align: center;
        background-color: $dta-white;
        
    
        h3 {
            color: $dta-secondary-color;
        }
    
        .text-tertiary {
            color: $dta-tertiary-color !important;
        }

        img {
            border-radius: 50% !important;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        .theme-contanier {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    
        .button-container {

            display: flex;
            flex-direction: row;
            justify-content: center;
    
            a {
                padding: 8px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
            }

            a:focus-within, a:active, a:focus {
                outline: none;
                background-color: $dta-soft-hover-color;
            }
    
            .btn-connect {
                color: $dta-alt-accent-color !important;
            }
            .btn-email {
                color: $dta-secondary-color !important;
            }
            .btn-profile {
                color: $dta-tertiary-color !important;
            }
        }
        
    }

    .cards-repository {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .resource-card {
        border-radius: 10px;
        background-color: $dta-soft-tertiary-color;
        padding: 16px !important;
        max-width: 500px;
        margin: 16px;

        .resource-data {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            color: $dta-black;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: wrap;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .tag-secondary {
            font-size: 10px;
        }
    }

    .resource-card:active, .resource-card:focus, .resource-card:hover {
        background-color: $dta-white;
        border: 1px solid $dta-secondary-color;
    }

    @media screen and (max-width: 500px) {
        #filter-options {
            top: 390px;
        }
    }
}