// Post SCSS for the theme.
// Font imports
@font-face {
  font-family: "Amiri";
  src: url([[font:theme|Amiri-Bold-Italic.ttf]]) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Volkhov";
  src: url([[font:theme|Volkhov-Bold-Italic.ttf]]) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Piazzolla Thin";
  src: url([[font:theme|PiazzollaThinItalic-ThinItalic.ttf]]) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Piazzolla";
  src: url([[font:theme|Piazzolla-ThinItalic.ttf]]) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Piazzolla";
  src: url([[font:theme|Piazzolla-Thin.ttf]]) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url([[font:theme|Raleway-VariableFont_wght.ttf]]) format("truetype-variations");
  font-display: swap;
  font-variation-settings: "wght" 400, "wdth" 700;
}

@font-face {
  font-family: "Oswald";
  src: url([[font:theme|Oswald-VariableFont_wght.ttf]]) format("truetype-variations");
  font-display: swap;
  font-variation-settings: "wght" 400, "wdth" 700;
}

:root {
  --border-radius: 0.5rem;
  --bubble-top-right: var(--border-radius) 0px var(--border-radius) var(--border-radius);
  --bubble-top-left: 0px var(--border-radius) var(--border-radius) var(--border-radius);
  --bubble-bottom-right: var(--border-radius) var(--border-radius) 0px var(--border-radius);
  --bubble-bottom-left: var(--border-radius) var(--border-radius) var(--border-radius) 0px;
}

// GENERAL STYLES START //

// GENERAL
#page {
  margin-top: 0px !important;
  overflow: visible !important;
  height: auto !important;
}

[id^="page-admin"] #region-main {
  width: 75%;
}

#region-main {
  background-color: transparent;
}

div[role="main"] {
  background-color: transparent;
}

// ELEMENTS
body.pagelayout-login {
  background: $bg-color;
}

body.pagelayout-frontpage {
  background: $bg-color;
}

body.pagelayout-mydashboard {
  background: $bg-color;
}

body.pagelayout-course,
body.pagelayout-incourse {
  background: $bg-color;
}

body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
  background-image: none;
}

body {
  background: $bg-color;
}

h1 {
  margin: auto;
  font-weight: bold;
  font-size: 65px;
  color: $primarycolor;
}

a.dropdown-toggle:focus {
  border-radius: 50px;
}

// DTA CUSTOM ELEMENTS
.dta-inner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dta-highlighted {
  color: #1382c5;
  font-weight: bold;
  text-transform: uppercase;
}

.dta-subtitle {
  color: $dta-secondary-color !important;
  font-size: 0.8em;
  text-transform: uppercase;
}

.dta-title {
  color: $dta-secondary-color !important;
  font-family: 'Oswald', sans-serif;
  line-height: 1em;
  text-transform: uppercase;
}

// NAV BAR
nav {
  background-color: transparent !important;
}

.navigation {
  border-radius: 50px !important;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  margin: 1rem auto;
  transition: 0.5s;
  border-radius: 50px;
  width: fit-content;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

  .divider {
    display: none;
  }
}

.navbar-brand:hover {
  border-radius: 50px;
}

.navbar-brand:focus {
  border-radius: 50px;
}

.navbar li a {
  --b: 0.1em;
  /* the thickness of the line */
  --c: $primarycolor;
  /* the color */

  color: $secondarycolor;
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, $secondarycolor 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.navbar li a:hover {
  --_p: 100%;
  --_s: 0.3s;
}

.navbar li a:focus {
  color: $primarycolor !important;
  border-radius: 10px;
}

.primary-navigation {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-lt-tab {
  border-top: 1px solid var(--dashui-border-color);
}

.nav-lt-tab .nav-item {
  margin: -0.0625rem 1rem 0;
}

.nav-lt-tab .nav-item .nav-link {
  border-radius: 0;
  border-top: 2px solid transparent;
  color: var(--dashui-gray-600);
  font-weight: 500;
  padding: 1rem 0;
}

// LOGO / AVATAR
.logo {
  margin-left: -0.9rem;
}

.avatar {
  display: inline-block;
  height: 3rem;
  position: relative;
  width: 3rem;
  border-radius: 999px;
  border-width: 0.15rem;
  border-style: solid;
  border-color: #fff;

  img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
}

.avatar-sm {
  height: 2rem;
  width: 2rem;
}

.avatar-xl {
  height: 5rem;
  width: 5rem;
}

.avatar-xxl {
  height: 7.5rem;
  width: 7.5rem;
}

.avatar-xxl.avatar-indicators:before {
  bottom: 5px;
  height: 16%;
  right: 17%;
  width: 16%;
}

.avatar-online:before {
  background-color: #198754;
}

.avatar-indicators:before {
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: 0;
  content: "";
  display: table;
  height: 30%;
  position: absolute;
  right: 5%;
  width: 30%;
}

// CONTAINERS
.container {
  justify-content: center;
  margin: auto 0;
}

.main-inner {
  margin: 0 !important;
  background-color: transparent !important;
  padding-top: 2rem !important;
}

.card-container {
  display: inline-block;
}

.card {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
}

// TOOLTIP
.data-tooltip {
  position: relative;
  border-radius: 50px;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  margin-left: -10px;
  color: rgba($tertiarycolor, 1);
  // text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);

  i {
    margin: 5px 8px;
  }
}

.data-tooltip::before,
.data-tooltip::after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.2s ease;
}

.data-tooltip::before {
  content: attr(data-tooltip-content);
  width: fit-content;
  font-size: small;
  font-weight: 600;
  color: #fff;
  background-color: rgba($tertiarycolor, 1);
  padding: 3px 10px;
  border-radius: 4px;
  bottom: calc(100% + 5px);
}

.data-tooltip::after {
  content: "";
  border-top: 5px solid $tertiarycolor;
  // border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: calc(100% + 1px);
}

.data-tooltip:hover::before,
.data-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

// CUSTOM BOOSTRAP CLASSES
.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.pt-20 {
  padding-top: 8rem !important;
}

.mt-n10 {
  margin-top: -3rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.border-2 {
  --dashui-border-width: 2px;
}

.border {
  border: 1px solid #dcdcdc !important;
}

.py-6 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.bg-gray-300 {
  --dashui-bg-opacity: 1;
  background-color: #cbd5e1 !important;
}

.mb-6 {
  margin-bottom: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.mb-8 {
  margin-bottom: 2rem !important;
}

.mt-n7 {
  margin-top: -1.75rem !important;
}

.ms-4 {
  margin-left: 1rem !important;
}

.btn-outline-warning {
  color: $accentcolor;
  border: solid 1px $accentcolor !important;

  //change the background color if the boton is hover and not change color of the icon or text into the button
  &:hover,
  &:focus,
  &.active {
    background-color: $accentcolor !important;
    color: #fff !important;
  }

}

// FOOTER START - NOT APPLIED IN LOGIN //
body:not(.login-page) {
  padding-bottom: 230px;
  overflow: visible;
  height: auto;
  position: relative;
  min-height: 100vh;
}

#page-wrapper {
  height: auto !important;
}

#page-footer {
  font-size: 11px;
  color: #757575;
  position: absolute;
  bottom: 0;
  width: 100%;

  .pre-footer {
    padding-top: 2rem;
    background-color: #f3f3f8;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .footer-info {
    border-right: 1px solid #e2e4e5 !important;
    display: flex;
    align-items: center;
  }

  .footer-description {
    border-right: 1px solid #e2e4e5 !important;
    display: flex;
    align-items: center;
  }

  #menu-menu-footer {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  body:not(.login-page) {
    padding-bottom: 480px;
  }
}

// FOOTER END //

// LOGIN & SIGNUP START //
.login-page {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  body {
    background-color: #fff;
    font-family: Montserrat;
    overflow-x: hidden;
  }

  article,
  aside,
  details,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    text-decoration: none;
  }

  img {
    border: none;
    width: 80%;
  }

  *:focus {
    outline: none;
  }

  svg {
    position: absolute;
    display: block;
  }

  label[for="id_username"] {
    align-self: center !important;
  }

  input[name="submitbuttonusername"] {
    max-width: 50%;
    background: #1382c5 !important;
  }

  input[name="submitbuttonusername"]::after {
    background: -webkit-linear-gradient(bottom, #1382c5 0%, #1798e8 100%) !important;
  }

  label[for="id_email"] {
    align-self: center !important;
  }

  input[name="submitbuttonemail"] {
    max-width: 50%;
    background: #1382c5 !important;
  }

  input[name="submitbuttonusername"]::after {
    background: -webkit-linear-gradient(bottom, #1382c5 0%, #1798e8 100%) !important;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .bg-illustration {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 1194px;
    background-size: cover;
    float: left;
    overflow: hidden;
    -webkit-animation: bgslide 2.3s forwards;
    animation: bgslide 2.3s forwards;

    img {
      width: 248px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: auto;
      margin: auto;
    }

    video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  .login-site {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }

  .login {
    max-height: 100vh;
    overflow-y: auto;
    float: left;
    margin: 0 auto;
    width: calc(100% - 1194px);
    font-family: "Libre Franklin", sans-serif !important;
  }

  .login .container {
    width: 505px;
    margin: 0 auto;
    position: relative;
  }

  .login .logo {
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .login .container h3 {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bolder;
  }

  #page-description {
    margin-top: 30px;
    font-size: 0.8rem;
    min-height: 15vh;
    max-height: 30vh;
  }

  .login .container .login-form {
    bottom: 0;
  }

  .login .container .login-form form {
    display: -ms-grid;
    display: grid;
    margin-top: 10vh;
  }

  .login .container .login-form form input {
    font-size: 16px;
    font-weight: normal;
    background: rgba(57, 57, 57, 0.07);
    margin: 0;
    height: auto;
    border: none;
    padding: 0 30px;
    border-radius: 10px;
  }

  .login .container .login-form form button[type="submit"] {
    background: $primarycolor;
    border: none;
    margin-bottom: 5px;
    width: 137px;
    height: auto;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .login .container .login-form form button[type="submit"]:hover::after {
    opacity: 1;
  }

  .login .container .login-form form button[type="submit"]::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#1382c5), to(#1798e8));
    background: -webkit-linear-gradient(bottom, #1382c5 0%, #1798e8 100%);
    background: -o-linear-gradient(bottom, #1382c5 0%, #1798e8 100%);
    background: linear-gradient(to top, #1382c5 0%, #1798e8 100%);
  }

  .password-toggle-icon {
    display: none;
    position: relative;
    top: -38%;
    right: -92%;
    cursor: pointer;
  }

  .password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }

  .password-toggle-icon i:hover {
    color: #000;
  }

  .login .container .remember-form {
    position: relative;
    margin-top: -30px;
  }

  .login .container .remember-form input[type="checkbox"] {
    margin-top: 9px;
  }

  .login .container .remember-form span {
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    top: 32px;
    color: #3b3b3b;
    margin-left: 15px;
  }

  .login .container .forget-pass {
    position: absolute;
    right: 0;
    margin-top: 189px;
  }

  .login .container .forget-pass a {
    font-size: 14px;
    position: relative;
    font-weight: normal;
    color: $primary;
  }

  .login .container .forget-pass a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #223e5c 0%, #416280 100%);
    background: -o-linear-gradient(110deg, #223e5c 0%, #416280 100%);
    background: linear-gradient(-20deg, #223e5c 0%, #416280 100%);
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    right: 0;
  }

  .login .container .forget-pass a:hover::after {
    opacity: 1;
  }

  .login-form-forgotpassword {
    text-align: end;
  }

  .login-signup {
    width: auto;
    height: auto;
    font-size: 14px;
  }

  #partners {
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      width: 100%;
      max-width: 100px;
      height: auto;
    }
  }

  .extra-logo {
    position: fixed;
    max-width: 400px;
    min-width: 150px !important;
    left: 85vw;
    bottom: 10px;
    margin: 0;
    padding: 0;
  }

  .logo-sm {
    display: none;
  }

  @media only screen and (max-height: 730px) {
    .login-form form {
      margin-top: 1vh !important;
    }

    #partners {
      height: 35px;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1680px) {
    .bg-illustration {
      width: 50%;
      -webkit-animation: none;
      animation: none;
    }

    .login {
      width: 50%;
    }
  }

  @media screen and (min-height: 768px) and (max-width: 1024px) {
    .bg-illustration video {
      height: 200px !important;
    }

    .login .logo {
      margin-top: 5px !important;
    }
  }

  @media screen and (max-width: 500px),
  (max-height: 582px) {
    .login .logo {
      margin-top: 0;
    }

    .extra-logo {
      left: 75vw;
    }

    .logo-lg {
      display: none;
    }

    .logo-sm {
      display: block;
      max-width: 50px;
      left: 75px;
    }

    #page-description {
      margin-top: 5px;
    }
  }

  /* Display 12", iPad PRO Portrait, iPad landscape */
  @media only screen and (max-width: 1024px) {
    body {
      overflow-x: hidden;
    }

    .extra-logo {
      left: 60vw;
    }

    @-webkit-keyframes slideIn {
      from {
        left: -100%;
        opacity: 0;
      }

      to {
        left: 0;
        opacity: 1;
      }
    }

    @keyframes slideIn {
      from {
        left: -100%;
        opacity: 0;
      }

      to {
        left: 0;
        opacity: 1;
      }
    }

    .login-form {
      a {
        font-size: 11px;
      }
    }

    .form-control {
      margin: 0 !important;
    }

    #loginbtn {
      margin-bottom: 0 !important;
    }

    img {
      max-width: 200px;
    }

    .bg-illustration {
      float: none;
      background-size: cover;
      -webkit-animation: slideIn 0.8s ease-in-out forwards;
      animation: slideIn 0.8s ease-in-out forwards;
      width: 100%;
      height: auto;
      text-align: center;

      video {
        height: 100px;
      }
    }

    .bg-illustration img {
      width: 100px;
      height: auto;
      margin: 20px auto !important;
      text-align: center;
    }

    .login {
      float: none;
      margin: 0 auto;
      width: 100%;
    }

    .login .container {
      -webkit-animation: slideIn 0.8s ease-in-out forwards;
      animation: slideIn 0.8s ease-in-out forwards;
      width: 85%;
      float: none;
    }

    .login .container h1 {
      font-size: 25px;
      margin-top: 40px;
    }

    .login .container .login-form form input {
      height: 45px;
    }

    .login .container .login-form form button[type="submit"] {
      height: 45px;
      margin-top: 2rem;
    }

    .login-form-submit {
      margin-top: -50px;
    }

    .login-signup {
      font-size: 12px;
      margin-left: 5px;
    }

    .login .container .login-form .remember-form {
      position: relative;
      margin-top: -14px;
    }

    .login .container .login-form .remember-form span {
      font-size: 16px;
      margin-top: 22px;
      top: inherit;
    }

    .forget-pass {
      position: absolute;
      right: inherit;
      left: 0;
      bottom: -40px;
      margin: 0 !important;
    }

    .forget-pass a {
      font-size: 16px;
      position: relative;
      font-weight: normal;
      color: #918f8f;
    }

    .forget-pass a::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      border-radius: 100px;
      background: -webkit-linear-gradient(110deg, #223e5c 0%, #416280 100%);
      background: -o-linear-gradient(110deg, #223e5c 0%, #416280 100%);
      background: linear-gradient(-20deg, #223e5c 0%, #416280 100%);
      bottom: -4px;
      left: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
      right: 0;
    }

    .forget-pass a:hover::after {
      opacity: 1;
    }

    #page-description {
      margin-top: 5px;
    }
  }

  // Delete Edge Toogle Input Password
  @supports (-ms-ime-align: auto) {}
}

.loginform {
  form {

    input[type="text"],
    input[type="password"] {
      font-size: 18px;
      padding: 5px 10px;
      width: 100%;
      padding-left: 35px;
      outline: none;
      background: #ffffff;
      color: #000000;
      border: 1px solid #c4d1eb;
      border-radius: 5px;
      box-shadow: 3px 3px 2px 0px #e2e2e2;
      transition: 0.3s ease;
    }
  }
}

.signupform {
  h1 {
    display: none;
  }

  input {
    max-height: 50px;
    margin: 0 !important;
  }

  #id_submitbutton {
    background: $primarycolor !important;
    margin-right: 0.5rem !important;
  }

  #id_cancel {
    background: $tertiarycolor !important;
  }

  .fa-exclamation-circle {
    color: $accentcolor !important;
  }

  form {
    margin-top: 0 !important;
    margin-bottom: 50px !important;
  }
}

// LOGIN & SIGNUP END //

.card-body {
  p {
    font-family: "Piazzolla", sans-serif;
    overflow: hidden;
    color: $tertiarycolor;
  }
}

.card-footer div a {
  background: $primarycolor !important;
  border-radius: 999px !important;
  box-shadow: $primarycolor 0 10px 20px -10px !important;
  box-sizing: border-box !important;
  color: #ffffff !important;
  cursor: pointer !important;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji",
    "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  opacity: 1 !important;
  outline: 0 solid transparent !important;
  padding: 8px 18px !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  width: 75% !important;
  word-break: break-word !important;
  border: 0 !important;
}

.card>.list-group:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-width: 0;
}

.card>.list-group:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-width: 0;
}

.card>.list-group {
  border-bottom: inherit;
  border-top: inherit;
}

// MASONRY GRID START//
.masonry {
  column-count: 3;
  column-gap: 1em;
}

@media screen and (max-width: 1080px) {
  .masonry {
    column-count: 2;
  }
}

@media screen and (max-width: 550px) {
  .masonry {
    column-count: 1;
  }
}

// MASONRY GRID END//
.wrapper {
  height: fit-content;
  margin-top: -30px;
  margin-bottom: 37px;
}

// POST INPUT START //
.post-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .avatar {
    position: relative;
    width: 5rem;
    height: auto;
  }
}

.custom-input {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  color: #000000;
  border: 1px solid #c4d1eb;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.3s ease;
  padding-right: 0.5rem;

  .input {
    font-size: 18px;
    outline: none;
    width: 100%;
    transition: 0.3s ease;
    border: none;
  }
}

.input::placeholder {
  color: $dta-tertiary-color;
  font-style: italic;
}

.post-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: relative;
  background-color: $primarycolor;
  color: #fff;
  border: none;
  padding: 7px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #fff;
}

.post-button:hover {
  color: #fff;
  background-color: $secondarycolor;
  border: 1px solid $secondarycolor;
}

.svg-icon {
  position: absolute;
  left: 10px;
  fill: #4660dc;
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 334px) {
  .input::placeholder {
    color: transparent;
  }
}

@media screen and (max-width: 576px) {
  .post-container {
    .custom-input {
      padding-left: 1rem;
    }

    .svg-icon.bi-vector-pen,
    .post-button div {
      display: none;
    }
  }
}

//GENERAL CARDS
.card-action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

// POST INPUT END //

// CARD LIST START //
.card-list {
  .experience-card {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;

    a {
      text-decoration: none;
    }
  }

  .exp-card-head {
    display: flex;
    justify-content: start;
  }

  .exp-card-body {
    overflow: hidden;
    margin-bottom: 1rem !important;
    display: flex;
    flex-direction: row;
    // max-height: 200px;

    .exp-img-container {
      min-width: 150px;
      max-width: 250px;
      min-height: 150px;
      max-height: 200px;
      border-radius: 1rem;
      margin-right: 1rem;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }

    img {
      display: block;
      border-radius: 1rem;
      height: 100%;
      width: 100%;
      transform: scale(2);
    }

    img:hover {
      transform: scale(1.5);
    }
  }
}


@media screen and (max-width: 992px) {
  .card-list {
    .custom-input {
      padding-right: 1px;
      padding-left: 1rem !important;

      .bi-vector-pen {
        display: none;
      }
    }

    .post-img {
      display: none;
    }

    .post-button {
      padding: 7px 10px;

      div {
        display: none;
      }
    }

    .exp-img-container {
      width: 100% !important;
    }

    .exp-card-body {
      flex-direction: column !important;
    }
  }
}

@media screen and (max-width: 334px) {
  .card-list {
    .exp-card-body {
      .exp-img-container {
        background-color: $primarycolor;
        transition: all 0.3s ease-in-out;

        img {
          content: url("");
        }
      }

      .exp-img-container:hover {
        max-height: inherit;
      }
    }
  }
}

// BREAD CRUMBS START //
.breadcrumb {
  font-size: 14px;
  letter-spacing: 0.025rem;
  position: absolute;
  bottom: 2rem;
  left: 2.5rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: rgba(0, 0, 0, 0.5);

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    display: inline-block;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
  }

  &:hover {
    color: $primarycolor;
  }

  &:after {
    color: rgba(0, 0, 0, 0.5);
  }

  &:after {
    content: "/";
    padding: 0, 0.5rem;
    display: inline-block;
  }

  span.destination {
    color: black;
  }
}

// BREAD CRUMBS END //

// SCROLLBAR START //
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
    scrollbar-width: thin;
    scrollbar-color: #004997 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px !important;
  width: 5px !important;
}

*::-webkit-scrollbar-track {
  border-radius: 5px !important;
  background-color: #dfe9eb !important;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2 !important;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2 !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: $secondarycolor !important;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $primarycolor !important;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $primarycolor !important;
}

// SCROLLBAR END //

// GENERAL STYLES END //

// HOME-TEACHERACADEMY START //


// HOME-TEACHERACADEMY END //

// --- EXPERIENCES START --- //
// EXPERIENCES DASHBOARD START //
#page-local-dta-pages-experiences-dashboard {
  .experience-card-title {
    color: $primarycolor !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .experience-description {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.experience-card,
#page-local-dta-pages-experiences-dashboard,
#page-local-dta-pages-experiences-view {

  // TAGS IN EXPERIENCE //
  .tags-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 9px;
  }

  .tags-list li {
    float: left;
  }

  .tag-basic {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }

  .tag-basic::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

  .tag-basic::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
  }

  .tag-basic:hover {
    background-color: $accentcolor;
    color: white !important;
  }

  .tag-basic:hover::after {
    border-left-color: $accentcolor;
  }

  @media screen and (max-width: 576px) {
    .tag-basic {
      background-color: transparent;
      padding: 0 5px 0 20px;
    }

    .tag-basic::before {
      background-color: $accentcolor;
    }

    .tag-basic::after {
      display: none;
    }
  }
}

// EXPERIENCES VIEW START //
#page-local-dta-pages-experiences-view {

  // MY TUTORING START //
  .tutor-list .tutor {
    padding: 5px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }

  .request-list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tutor-list img.profile-photo-lg {
    height: 80px;
    width: 80px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  // MY TUTORING SEARCHBAR //
  .custom-searchbar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 100%;

    .input {
      width: 100%;
      height: 40px;
      line-height: 28px;
      padding: 0 1rem;
      padding-left: 2.5rem;
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #f3f3f4;
      color: #0d0c22;
      transition: 0.3s ease;
    }

    .input::placeholder {
      color: #9e9ea7;
    }

    .input:focus,
    .input:hover {
      outline: none;
      border-color: #00304966;
      background-color: #fff;
      box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
    }

    .icon {
      position: absolute;
      left: 1rem;
      fill: #9e9ea7;
      width: 1rem;
      height: 1rem;
    }
  }

  // MY TUTORING END //

  // RESOURCES START //
  .resource-repository .card-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
  }

  // RESOURCES END //

  // Reflection elements inside  Reflectio Manager
  .list-group-item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    audio {
      max-width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    .tutor .experience-card-module .card-body {
      overflow: auto;
      max-height: 400px;
    }
  }
}

// EXPERIENCES VIEW END //

// EXPERIENCES MANAGE START //
/*#page-local-dta-pages-experiences-manage {

  #page-header .header-actions-container {
    display: none;
  }

  #page-header .d-flex.align-items-center {
    justify-content: center;

    .mr-auto {
      margin: 0 !important;
    }
  }

  .mform div[data-fieldtype="autocomplete"] li:empty {
    display: none !important;
  }

  .mform .form-inline .custom-select {
    max-width: 550px;
  }

  .fp-login-form .fp-content-center form,
  .fp-upload-form .fp-content-center form {
    box-shadow: none;
    border-radius: 0;
  }

  .fp-viewbar {
    display: none;
  }

  .fp-restrictions {
    display: none;
  }

  .form-group {

    &.fp-saveas,
    &.fp-setauthor,
    &.fp-setlicense {
      display: none;

    }
  }

  .card {
    box-shadow: none;
  }

  form {
    max-width: 65%;
    border-radius: 25px;
    box-shadow: 0 0 5px #062f4a;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background: transparent;
  }

  @media screen and (max-width: 767px) {
    form {
      max-width: 80%;
    }
  }

  @media screen and (max-width: 575px) {
    form {
      max-width: 100%;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .col-form-label {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: $secondarycolor;
    margin-bottom: 0.5rem;
    max-height: 33px;
  }


  select {
    min-width: 100px;
    display: block;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    // padding: 11px 15px;
    margin-top: 9px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      pointer-events: none; // Arrow clickable in some browsers

      // triangle set up
      border: 1px solid transparent; // reset all borders
      width: 0;
      height: 0;
      right: 16px;
    }

    // top arrow
    &::before {
      bottom: 55%;
      border-width: 0 6.5px 8px 6.5px;
      border-bottom-color: $tertiarycolor;
    }

    // bottom arrow
    &::after {
      border-width: 8px 6.5px 0 6.5px;
      border-top-color: $tertiarycolor;
      top: 55%;
    }

    // firefox is outside the div
    @-moz-document url-prefix() {
      border-right: 1px solid $tertiarycolor;

      &:hover {
        border-right: 1.2px solid $primarycolor;
      }
    }

    &:hover {

      select {
        box-shadow: 0 2px 3px rgba($primary, 0.1) inset;
        border-color: $primary;

        // outline is critical but when we are hovering the div has the border already.
        &:focus {
          outline-color: transparent;
        }

      }

      &::before {
        border-bottom-color: rgba($primarycolor, 1);
      }

      &::after {
        border-top-color: rgba($primarycolor, 1);
      }

    }

    select {
      border: 1px solid $tertiarycolor;
      border-radius: 0;
      font-weight: 400;
      color: inherit;
      padding: 11px 15px;
      line-height: normal;
      transition: border-color 0.2s ease,
        outline 0.2s ease;


      // we really need this for the tabbers
      // causes double borders though
      &:focus {
        box-shadow: 0 3px 4px rgba($primarycolor, 0.3) inset;
        // outline is critical for usability
        outline: 1px solid $primarycolor;
        outline-offset: -1px; //offset vs width
      }

      &[disabled],
      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }

      // we use invalid like a placeholder
      // 2019-03-05 added not selector for firefox and ie
      &:not(:focus):invalid {
        color: $tertiarycolor;
      }

    }
  }

  select::-ms-expand {
    display: none;
  }

  input[type="submit"] {
    max-width: fit-content;
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: rgba($primarycolor, 1);
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba($primarycolor, 0.192), 0 2px 4px -1px rgba($primarycolor, 0.09);
  }

  input[type="submit"]:hover {
    box-shadow: 0 10px 15px -3px rgba($primarycolor, 0.31), 0 4px 6px -2px rgba($primarycolor, 0.09);
  }

  input[type="submit"]:focus,
  button:active {
    opacity: .85;
    box-shadow: none;
  }

  input[type="submit"] svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

#page-local-dta-pages-experiences-manage .mform .form-group.row {
  display: flex;
  flex-direction: column;
  align-items: center;

  .filemanager-toolbar,
  .fp-pathbar {
    display: none;
  }

  .tox-menubar {
    display: none;
  }
}

#page-local-dta-pages-experiences-manage .mform .form-group.row>* {
  max-width: 88%;
}

#page-local-dta-pages-experiences-manage .mform .form-group.row>.felement>input {
  max-width: 100%;
  width: 100%;

  &:focus {
    border: 1px solid $primarycolor !important;
  }
}*/
// EXPERIENCES MANAGE END //

// NEW REFLECTION FORM START //
#page-local-dta-pages-experiences-reflection,
#page-local-dta-pages-experiences-manage {
  #import-cases-modal {
    label {
      width: 100%;
    }

    input:checked+label {
      border: 1px solid #007bff;
      border-radius: 0.25rem;
      color: white;
    }
  }

  .parent {
    height: 100%;
    transition: all 1s ease-in-out;
    border-radius: 10px;

    .header {
      cursor: pointer;
    }

    /*stepbar*/
    #stepbar {
      margin-bottom: 30px;
      overflow: hidden;
      margin: auto;
      /*CSS counters to number the steps*/
      counter-reset: step;
    }

    #stepbar li {
      border: none !important;
      list-style-type: none;
      color: black;
      background: transparent;
      outline: none;
      text-transform: uppercase;
      font-size: 12px;
      width: 10rem;
      float: left;
      position: relative;
    }

    #stepbar li:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: white;
      background: #333;
      border-radius: 3px;
      margin: 0 auto 5px auto;
    }

    /*stepbar connectors*/
    #stepbar li:after {
      content: "";
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1;
      /*put it behind the numbers*/
    }

    #stepbar li:first-child:after {
      /*connector not needed before the first step*/
      content: none;
    }

    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #stepbar li.active:before,
    #stepbar li.active:after {
      background: #27ae60;
      color: white;
    }

    #import_div {
      display: none;
      width: fit-content;
      height: fit-content;
      margin-top: 10px;
      box-shadow: 0px 0px 2px 0px rgba(6, 47, 74, 1);
      border-radius: 10px;
      padding: 10px;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .import_button {
      min-width: 50px;
      width: fit-content;
      max-height: 50px;
      margin: auto;
      box-shadow: 0px 0px 2px 0px rgba(6, 47, 74, 1);
      border-radius: 10px;
      cursor: pointer;
      padding-right: 10px;

      i {
        padding: 10px;
        font-size: 1em;
        color: #1382c5;
        margin: auto;
      }
    }

    #add_button {
      display: flex;
      font-size: 2em;
      color: #1382c5;
      cursor: pointer;
      justify-content: center;
      align-items: center;
    }

    h2 {
      color: #1382c5;
      margin-bottom: 40px;
    }

    .sections {
      gap: 20px;
    }

    #section_what {
      h2 {
        color: rgba(204, 98, 33, 0.9);
      }

      .questions {
        border: 2px dashed rgba(204, 98, 33, 0.9);
      }
    }

    #section_so_what {
      h2 {
        color: rgba(57, 98, 33, 0.9);
      }

      .questions {
        border: 2px dashed rgba(57, 98, 33, 0.9);
      }
    }

    #section_now_what {
      h2 {
        color: rgba(19, 130, 197, 0.9);
      }

      .questions {
        border: 2px dashed rgba(19, 130, 197, 0.9);
      }
    }

    .section {
      h2 {
        font-size: 2em !important;
        font-weight: bold;
        color: #1382c5;
        /*transform: rotate(270deg);*/
        margin-bottom: 20px;
        height: fit-content;
        text-wrap: nowrap;
        width: 150px;
        margin-top: 15px;
        padding-left: 10px;
      }
    }

    .questions {
      display: flex;
      width: 100%;
      height: fit-content;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px 20px;

      .question {
        padding: 20px 40px;
        width: 100%;

        h3 {
          font-size: 1.5em !important;
          font-weight: bold;
          color: #062f4a;
        }
      }
    }
  }
}

// NEW REFLECTION FORM END //

// REFLECTION VIEW START //
#page-local-dta-pages-experiences-reflection-view {
  .question {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .section {
    margin-bottom: 20px;
  }

  #section_what {
    .card-header {
      background-color: #cc62214d;
      color: #cc6221;
    }
  }

  #section_so_what {
    .card-header {
      background-color: #3962214d;
      color: #396221;
    }
  }

  #section_now_what {
    .card-header {
      background-color: #1382c54d;
      color: #1382c5;
    }
  }
}

// REFLECTION VIEW END //
// --- EXPERIENCES END --- //

// --- CASES START --- //
// CASES REPOSITORY START //
#page-local-dta-pages-cases-repository {
  .experience-card-body {
    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 65%;
    }
  }

  @media screen and (max-width: 992px) {
    .post-img {
      display: none;
    }
  }
}

// CASES REPOSITORY END //

// CASES VIEW START //
#page-local-dta-pages-cases-view {
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 65%;
  }

  @media screen and (max-width: 498px) {
    .controls {
      margin-left: 18px;
    }

    .user-info {
      img {
        // User Profile Picture
        display: none;
      }

      strong {
        // User Name
        text-wrap: wrap;
      }

      small {
        // User Email
        display: none;
      }
    }
  }
}

// CASES VIEW END //

// CASES MANAGAMENT START //
#page-local-dta-pages-cases-manage {
  .tox-promotion {
    display: none !important;
  }
}

// CASES MANAGAMENT END //
// --- CASES END --- //

// test

.imgbox {
  padding: 0 0 30px 30px;
}

.imgbox .img-fluid {
  display: inline-block;
  box-shadow: -30px 30px 0 rgb(0, 0, 0);
}

// test2

/* Initial state styles */
.hover-image {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* Example initial background color - change as needed */
  background-color: #f0f0f0;
}

/* Hover state styles */
.hover-image:hover {
  /* Change to your desired hover background color */
  background-color: #e0e0e0;
  /* Example hover shadow - adjust as needed */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Ripple effect - simple scale animation (optional) */
.hover-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.hover-image:hover::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

//test3

.hover-overlay-image {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hover-overlay-image:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

//

.slick-prev {
  display: flex;
  align-items: center;
}

.slick-next {
  display: flex;
  align-items: center;
}


// Import Resources Modal START //

.modal {
  font-family: 'Inter', sans-serif;

  button:focus {
    outline: none;
    box-shadow: none !important;
    border: none;
  }

  .modal-dialog:focus {
    box-shadow: none !important;
    border: none !important;
  }

  .modal-header {
    color: $secondarycolor;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    border-bottom: none;

    .close {
      color: $dta-danger-color;
      font-size: 2rem;
    }
  }

  .modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  #res-import-form {
    .form-group.label-extra {
      align-items: end;
      justify-content: start;
      gap: 8px;
    }

    label {
      color: $dta-white;
      background-color: $dta-secondary-color;
      border-radius: 10px 10px 0 0;
      padding: 0 8px;
      margin-bottom: 0;
    }

    p {
      color: $dta-tertiary-color;
      font-style: italic;
      margin-bottom: 0;
      margin-left: 8px;
    }



    .form-control {
      --border-radius: 10px;
      border-radius: var(--bubble-top-left);
    }

    .form-control:focus {
      box-shadow: none !important;
      border: 2px solid $dta-primary-color !important;
    }

    .tags-input {

      .tags-container {
        width: 100%;
        margin-bottom: 1rem;
      }
    }



    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      max-width: 300px;
      min-width: 300px;

      background-image:
        linear-gradient(45deg, transparent 50%, $dta-black 50%),
        linear-gradient(135deg, $dta-black 50%, transparent 50%);
      background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
      background-size:
        5px 5px,
        5px 5px;
      background-repeat: no-repeat;

      option:checked {
        background-color: $dta-soft-hover-color;
        color: $dta-black;
      }
    }

    select:focus {
      background-image:
        linear-gradient(45deg, $dta-black 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $dta-black 50%);
      background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em;
      background-size:
        5px 5px,
        5px 5px;
      background-repeat: no-repeat;
      border-color: $dta-secondary-color;
      outline: 0;
    }

    select::-ms-expand {
      display: none;
    }
  }


  button {
    --border-radius: 10px;
    border-radius: var(--bubble-bottom-right);
  }

  .modal-footer {
    border: none;
  }
}

// Import Resources Modal END //

.tag-normal {
  background-color: $dta-soft-tertiary-color;
  color: $dta-secondary-color;
  padding: 2px 8px;
  border-radius: 50px;
  margin-right: 0.5rem;
  font-size: 14px;
}

.tag-secondary {
  background-color: $dta-secondary-color;
  color: $dta-white;
  padding: 2px 8px;
  border-radius: 50px;
  margin-right: 0.5rem;
  font-size: 14px;
}

// --- RESOURCES REPOSITORY START --- //

.bg-repository-card {
  background-color: #eeeeee;
  border-radius: 18px;
}



