// Pre SCSS for the theme.
$card-bg: rgba(255, 255, 255, 0.98);
$primary: #1382c5;
$secondary: #062f4a;
$tertiary: #58595b;
$accent: #f27b10;
$accent-alt: #d5490c;
$bg-color: #fff;

$dta-black: #000;
$dta-white: #fff;
$dta-primary-color: rgb(19, 130, 197);
$dta-secondary-color: #062f4a;
$dta-tertiary-color: #6A737B;
$dta-soft-tertiary-color: #eee;
$dta-accent-color: #F27B10;
$dta-dark-accent-color: #d5490c;
$dta-alt-accent-color: #27AE60;
$dta-danger-color: #CA3120;
$dta-soft-hover-color: rgba(19, 130, 197, 0.2);

$dta-bg-light-gradient: linear-gradient(138deg, rgba(255,255,255,1) 62%, rgba(153,153,153,0.5) 100%);
$dta-alt-bg-light-gradient: linear-gradient(327deg, rgba(255,255,255,1) 62%, rgba(153,153,153,0.5) 100%);
$dta-secondary-gradient: linear-gradient(0deg, #062f4a 77%, #1382c5 100%);
$dta-primary-soft-gradient: linear-gradient(315deg, #C5E5F9 0%, #71A8CA 100%);
$dta-accent-gradient: linear-gradient(315deg, #FFF4E5 0%, #FFE0C0 100%);
$dta-alt-accent-gradient: linear-gradient(315deg, #E1F8EA 0%, #72D89D 100%);
