// Pre SCSS for the theme.
$card-bg: rgba(255, 255, 255, 0.98);
$primary: #1382c5;
$secondary: #062f4a;
$tertiary: #58595b;
$accent: #f27b10;
$accent-alt: #d5490c;
$bg-color: #fff;

$primarycolor: #1382c5;
$secondarycolor: #062f4a;
$tertiarycolor: #6A737B;
$accentcolor: #F27B10;
$accentcoloralt: #d5490c;

$digitalta-black: #000;
$digitalta-white: #fff;
$digitalta-primary-color: rgb(19, 130, 197);
$digitalta-secondary-color: #062f4a;
$digitalta-tertiary-color: #6A737B;
$digitalta-soft-tertiary-color: #eee;
$digitalta-accent-color: #F27B10;
$digitalta-dark-accent-color: #d5490c;
$digitalta-alt-accent-color: #27AE60;
$digitalta-danger-color: #CA3120;
$digitalta-soft-hover-color: rgba(19, 130, 197, 0.2);

$digitalta-bg-light-gradient: linear-gradient(138deg, rgba(255,255,255,1) 62%, rgba(153,153,153,0.5) 100%);
$digitalta-alt-bg-light-gradient: linear-gradient(327deg, rgba(255,255,255,1) 62%, rgba(153,153,153,0.5) 100%);
$digitalta-secondary-gradient: linear-gradient(0deg, #062f4a 77%, #1382c5 100%);
$digitalta-primary-soft-gradient: linear-gradient(315deg, #C5E5F9 0%, #71A8CA 100%);
$digitalta-accent-gradient: linear-gradient(315deg, #FFF4E5 0%, #FFE0C0 100%);
$digitalta-alt-accent-gradient: linear-gradient(315deg, #E1F8EA 0%, #72D89D 100%);
