{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_digitalta/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        }
    }
}}

<footer id="page-footer" class="bg-white">
    <div class="pre-footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="footer-info col-md-6 col-lg-3 col-xl-3 mb-3 border-end">
                    <div id="block-50" class="widget widget_block">
                        <div class="font-light fz-13 lh-1-5 pb-lg-2 pb-3">
                        Digital TA <br>
                        Erasmus+ <br>
                        ERASMUS-EDU-2021-PEX-TEACH-ACA <br>
                        Nº 101055620
                        </div>
                    </div>
                </div>
                <div class="footer-description col-md-6 col-lg-5 col-xl-6 mb-3 border-end">
                    <div id="block-51" class="widget widget_block widget_text">
                        <p></p>
                    </div>
                    <div id="block-52" class="widget widget_block">
                        <p class="font-light fz-13 lh-1-5">“Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Education and Culture Executive Agency (EACEA). Neither the European Union nor the granting authority can be held responsible for them.”</p>
                    </div>
                </div>
                <div class="footer-logo col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    <div id="block-53" class="widget widget_block">
                        <div class="font-light section-support_text fz-16 text-center">With the financial support of:</div>
                        <div class="section-support_img">
                        <div class="d-flex justify-content-center">
                            <img decoding="async" class="py-3 img-fluid" src="https://digitalta.eu/wp-content/uploads/2023/04/eu-logo.png">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-white">
        <div class="container">
            <div class="site-info py-2 text-right fz-14">
                <!--&copy; Copyright Universidad Europea del Atlántico-->
                © Copyright DIGITAL TA 2025 <br>
                <div class="menu-menu-footer-container">
                    <ul id="menu-menu-footer" class="menu">
                        <li class="fz-14 menu-item menu-item-type-post_type menu-item-object-page menu-item-199"><a href="https://digitalta.eu/projects-aims/">Project’s aims</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="https://digitalta.eu/partnership/">Partnership</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-196"><a href="https://digitalta.eu/news/">News</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-867"><a href="https://digitalta.eu/gallery/">Gallery</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-197"><a href="https://digitalta.eu/newsletter-5/">Newsletters</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-718"><a href="https://digitalta.eu/output_publications/">Output &amp; Publications</a></li>
                    </ul>
                </div>
                <div id="block-46" class="widget widget_block"></div>
            </div>
        <!-- .site-info -->
        </div>
    </div>
    {{{ output.standard_end_of_body_html }}}

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
</footer>


{{#js}}
require(['theme_digitalta/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
});
{{/js}}
