<div class="col-lg-10 m-auto bg-dark text-light custom-carousel">
          <div id="carouselExample" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active text-center p-4" data-bs-interval="3000">
              <blockquote class="blockquote text-center mx-auto">
                <p class="testimonial mb-0" title="It takes a constant process of adaptation and
                sharing knowledge to make sure every student, no matter what her background, feels like a valued
                member of the school community."><i class="fa fa-quote-left"></i>
                  It takes a constant process of adaptation and
                  sharing knowledge to make sure every student, no matter what her background, feels like a valued
                  member of the school community.
                </p>
                </br>
                <footer class="blockquote-footer"><cite title="@diversity @inclusion @inclusiveness @research @implementation @methodology @integration">@diversity @inclusion @inclusiveness @research @implementation @methodology @integration</cite></footer>
              </blockquote>
            </div>
            <div class="carousel-item text-center p-4" data-bs-interval="3000">
              <blockquote class="blockquote text-center mx-auto">
                <p class="testimonial mb-0" title="It takes a constant process of adaptation and
                sharing knowledge to make sure every student, no matter what her background, feels like a valued
                member of the school community."><i class="fa fa-quote-left"></i>
                  It takes a constant process of adaptation and
                  sharing knowledge to make sure every student, no matter what her background, feels like a valued
                  member of the school community.
                </p>
                </br>
                <footer class="blockquote-footer"><cite title="@diversity @inclusion @inclusiveness @research @implementation @methodology @integration">@diversity @inclusion @inclusiveness @research @implementation @methodology @integration</cite></footer>
              </blockquote>
            </div>
            <div class="carousel-item text-center p-4" data-bs-interval="3000">
              <blockquote class="blockquote text-center mx-auto">
                <p class="testimonial mb-0" title="In the end, the effective integration of refugee students enhances the educational experience for the
                kids involved and contributes to developing a diverse and inclusive educational environment. The key
                components for developing an educational community that values the range of experiences and
                cultural backgrounds involve recognising difference, promoting understanding, and encouraging
                collaboration between students and their teachers. It takes a constant process of adaptation and
                sharing knowledge to make sure every student, no matter what her background, feels like a valued
                member of the school community."><i class="fa fa-quote-left"></i>
                In the end, the effective integration of refugee students enhances the educational experience for the
                kids involved and contributes to developing a diverse and inclusive educational environment. The key
                components for developing an educational community that values the range of experiences and
                cultural backgrounds involve recognising difference, promoting understanding, and encouraging
                collaboration between students and their teachers. It takes a constant process of adaptation and
                sharing knowledge to make sure every student, no matter what her background, feels like a valued
                member of the school community.
                </p>
                </br>
                <footer class="blockquote-footer"><cite title="@diversity @inclusion @inclusiveness @research @implementation @methodology @integration">@diversity @inclusion @inclusiveness @research @implementation @methodology @integration</cite></footer>
              </blockquote>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
      </div>